[user]
	email = erik.kinn@gmail.com
	name = Erik Kinnunen

[pull]
	rebase = true

[core]
	pager = delta
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[add.interactive]
	useBuiltin = false

[delta]
	navigate = true
	light = false

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
