[user]
	name = Erik Kinnunen
	useConfigOnly = true

[core]
	pager = delta
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[add.interactive]
	useBuiltin = false

[delta]
	navigate = true
	light = false

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[alias]
  amend = commit --amend
  push-with-lease = push --force-with-lease
  slog = log --pretty='%C(green)%h%Creset%C(yellow)%d%Creset %s %C(cyan)%ar%Creset'
