[user]
	name = Erik Kinnunen
	useConfigOnly = true

[status]
	short = true

[core]
	pager = delta
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[add.interactive]
	useBuiltin = false

[delta]
	navigate = true
	light = false

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = dimmed-zebra
	colorMovedWS = ignore-all-space

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[branch]
	sort = -committerdate

[alias]
	amend = commit --amend
	push-with-lease = push --force-with-lease
	slog = log --pretty='%C(green)%h%Creset%C(yellow)%d%Creset %s %C(cyan)%ar%Creset'
	fixup = git-fixup
	pr = !gh pr checkout
	pr-list = !gh pr list
